<div class="header">
  <h1>Posts</h1>
  <button *ngIf="!hasPosts; else name" mat-raised-button color="primary" (click)="fetchPosts()">Fetch Posts</button>
  <ng-template #name>
    <button mat-raised-button color="accent">Welcome</button>
  </ng-template>
</div>
<div *ngIf="posts.length > 0; else none" class="post-container">
  <div *ngFor="let post of posts">
    <app-post-card [post]="post"></app-post-card>
  </div>
</div>
<ng-template #none>
  <div class="no-posts">
    <h2>No posts available</h2>
  </div>
</ng-template>
